/* Main Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #ded0c8;
    background-color: #272727;
}

/* Header and Navigation */
header, nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img {
    height: 4em;
    width: 10em;
}

.logo span {
    font-size: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ded0c8;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

.icons {
    margin: 0 1em;
    padding: 0.5em;
}

.icons img {
    width: 2em;
    height: 2em;
    border-radius: 10px;
    padding: 0 0.5em;
}

/* Profile Section */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 80%;
}
.no-art-message {
    color: #ded0c8;
    font-size: 0.9em;
    margin: 20px auto;
    text-align: center;
}

.profile-pic {
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin-right: 20px;
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 70%);
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 70%);
}

.profile-info {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.bio {
    font-family: 'Georgia';
    font-size: 1.0em;
    color: #ded0c8;
    max-width: 800px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #d4af37;
    margin: 30px 0;
}

/* Artworks Section */
.artworks {
    text-align: center;
    padding: 2em;
    width: 100%;
}

.collection-desc {
    max-width: 800px;
    margin: auto;
    font-size: 1.1em;
    padding-bottom: 20px;
    color: #ded0c8;
}

/* Horizontal Scrolling for Artworks */
.art-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.art-grid {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    white-space: nowrap;
    width: 80%;
}

/* Hide Scrollbar */
.art-grid::-webkit-scrollbar {
    display: none;
}

/* Art Item Box */
.art-item {
    flex: 0 0 auto;
    width: 250px;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Hover Effect */
.art-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Image in Art Item */
.art-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

/* Art Item Text */
.art-item h3 {
    font-size: 1em;
    margin-bottom: 5px;
    word-wrap: break-word;
    white-space: normal;

}

.art-item p {
    font-size: 0.8em;
    font-family: serif;
    margin: 5px 0;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.6;
    text-overflow: ellipsis;
    max-height: 4em;
    padding: 2%;}

/* Edit Icon */
.edit-icon {
    color: #ded0c8;
}

/* Checkbox for Deletion */
.delete-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    z-index: 1;
    opacity: 0.8;
}

/* Scroll Navigation Buttons */
.scroll-btn {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}
.logout-link{
    color: #d4af37;
}
/* Artwork Action Buttons */
.artwork-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#add-artwork,
#delete-artwork {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 2%;
    margin-right: 2%;
    background: #513c2e;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#add-artwork:hover,
#delete-artwork:hover {
    background-color: #333;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
}
