/* main css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #ded0c8;
    background-color: #272727;
}

header, nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img {
    height: 4em;
    width: 10em;
}

.logo span {
    font-size: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ded0c8;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

.icons {
    margin: 0 1em;
    padding: 0.5em;
}

.icons img {
    width: 2em;
    height: 2em;
    border-radius: 10px;
    padding: 0 0.5em;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 80%;
}

.profile-pic {
    width: 70%; /* Adjust the size as needed */
    height: 70%;
    object-fit: cover;
    margin-right: 20px;
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 80%);
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 80%);
}

.profile-info {
    flex: 1; /* Take up remaining space */
    text-align: left;
    padding: 10px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #d4af37;
    margin: 30px 0;
}

.artworks {
    text-align: center;
    padding: 2em;
    width: 100%;
}

.art-item:hover {
    transform: scale(1.05); /* Slight enlargement */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

.bio {
    font-size: 1.2em;
    color: #ded0c8;
    max-width: 800px;
}

.collection-desc {
    max-width: 800px;
    margin: auto;
    font-size: 1.1em;
    padding-bottom: 20px;
    color: #ded0c8;
}

.art-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.art-item {
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative; /* Ensure checkbox is positioned relative to art-item */
}

.art-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.delete-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    z-index: 1; /* Ensure it is above other content */
    opacity: 0.8;
}

.artwork-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 20px;
}

#add-artwork,
#delete-artwork {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 2%;
    margin-right: 2%;
    background: #513c2e;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

#add-artwork:hover,
#delete-artwork:hover {
    background-color: #333;

    
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #1e1e1e;
}
