body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #1e1e1e 50%, transparent 50%), url('../images/museum.jpeg') center/cover no-repeat;
    background-size: cover;
    color: #ded0c8;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50em;
}

header,
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}


.logo {
    color: #ded0c8;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.logo img {
    height: 4em;
    width: 10em;
}

.logo span {
    font-size: 1em;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ded0c8;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

.icons {
    margin: 0 1em;
    padding: 0.5em;
}

.icons img {
    width: 2em;
    height: 2em;
    border-radius: 10px;
    padding: 0 0.5em;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.05);
}

/* Make the current bid larger */
label {
    display: block;         /* makes sure it takes up the full line */
    margin-top: 20px;       /* space from the element above */
    margin-bottom: 5px;     /* space between label and input */
    font-weight: bold;
    font-size: 1em;
}

#bidAmount {
    padding: 10px;
    font-size: 1em;
    width: 50%;
    margin-bottom: 20px;    /* space after the input */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-family: 'Playfair Display', serif;
}


.auction-status {
    color: #ded0c8;
    font-weight: bold;
    font-size: 1.5rem;

    margin-top: 20px;
}
.auction-status a {
    color: #ded0c8;
    text-decoration: underline;
}
.auction-status a:hover {
    opacity: 0.8;
}
.place-bid {
    padding: 12px 20px;
    font-size: 1.2em;
    background-color:#513c2e;
    /* Customize your color */
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

.place-bid:hover {
    background-color: #2e2121;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background: #272727;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.left {
    width: 50%;
    background: #272727;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.content h3 {
    font-size: 14px;
    color: gray;
    letter-spacing: 2px;
}

.content h1 {
    font-size: 32px;
    margin: 10px 0;
}

.content p {
    font-size: 14px;
    color: gray;
    line-height: 1.6;
}

.right {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: relative;
    width: 80%;
    height: auto;
    background: #272727;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #272727;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.add-to-cart {
    margin-top: 20px;
    padding: 15px 30px;
    background: #513c2e;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.add-to-cart:hover {
    background: #513c2e;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wishlist {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px
}


#price {
    font-size: 1.2em;
    color: #ffd700; /* Gold */
    font-weight: bold;
    margin-bottom: 10px;
}

#price small {
    font-size: 0.7em;
    color: #ccc;
}

#timeleft {
    font-size: 1em;
    color: #ded0c8;
    font-weight: bold;
}

/* White input */
#bidAmount {
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}



footer {
    text-align: center;
    padding: 1em;
}